$color-primario: rgb(130, 137, 223);
$color-secundario: orange;
@mixin set-dimensions($width, $height){
    width: $width;
    height: $height;
}
body{
    @include set-dimensions(50%,100%);
}
.container{
    background-color: $color-primario;
    .btn{
        background-color: $color-secundario; 
    }
    &:hover{
        background-color: lightcoral
    }
}
